.HomeScreenContainer {
  text-align: center;
  background-color: white;
  color: white;
  min-height: 100%;

  .logo {
    height: 10rem;
  }

  h1 {
    margin-top: 0;
    background-color: #233233;
  }

  .providers {
    padding: 0 60px;

    .providers-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax((224px), 3fr));
      box-sizing: border-box;
      padding: 24px;
      grid-gap: 24px;
      justify-items: center;

      .Provider-container {
        grid-row-start: span 1;
        display: inline-block;
        width: 200px;
        height: 200px;
        box-shadow: 1px 1px 5px #afafaf;
        position: relative;
        border-radius: 5px;
        overflow: hidden;

        .checkmark {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(128, 128, 128, 0.3);
          pointer-events: none;
          justify-content: center;
          align-items: center;

          svg {
            fill: #29dc1a;
            background: white;
            border-radius: 50%;
          }
        }

        input {
          display: none;
          position: relative;
          bottom: 40px;
          width: 40px;
          height: 40px;
        }

        input:checked + label .checkmark {
          display: flex;
        }

        label {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: block;
          cursor: pointer;
        }
      }
    }

    button {
      margin-top: 40px;
      font-size: 40px;
      background-color: #47994a;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;
      box-shadow: 1px 1px 5px #afafaf;
    }
  }
}
